/* Item*/

.Todo-list li {
    list-style: none;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
}
.Todo-list li button {
    float: right;
    display: none;
    margin: 3px 0;
}
